---
name: stale
on:
  schedule:
    - cron: 30 1 * * *

permissions:
  issues: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  stale:
    uses: delineaxpm/github-workflows/.github/workflows/stale.yml@main
    secrets: inherit
